.popup__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(84, 84, 84, 0.2);
    margin-bottom: 40px;
    outline: none;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 17px;
}
