.popup__content {
    max-width: 430px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    padding: 36px;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 767px) {
    .popup__content {
        max-width: 282px;
        padding: 25px;
    }
}

