.profile {
    width: calc(100% - 2*199px);
    padding: 36px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width:1279px) {
    .profile {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width:1023px) {
    .profile {
        width: calc(100% - 2*12px);
    }
}

@media screen and (max-width:767px) {
    .profile {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .profile {
        flex-direction: column;
    }
}