.element__button-like {
    padding: 0 2px;
    width: 26px;
    height: 19px;
    border: none;
    background: transparent;
    outline: none;
    background-image: url(../../../images/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.element__button-like:hover {
    opacity: 0.6;
}