.element__button-like {
    padding: 0;
    max-width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.element__button-like:hover {
    opacity: 0.8;
}